---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");

  const uniqueTags = [
    ...new Set(allPosts.flatMap((post) => post.frontmatter.tags)),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags?.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <h2 class="font-normal text-2xl">Posts tagged with <span class="font-bold">{tag}</span></h2>
  <ul class="grid grid-cols-2 gap-2">
    {
      posts.map((post) => (
        <BlogPostPreview url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
