---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tag from "../../components/Tag.astro";

const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.flatMap((post) => post.frontmatter.tags))];
---

<BaseLayout pageTitle="All tags">
  {
    tags.length >= 0 ? (
      <div class="flex flex-wrap gap-2 sm:gap-4">
        {tags.map((tag) => (
          <Tag tagTitle={tag} />
        ))}
      </div>
    ) : (
      <div class="text-center">
        <h2>No posts yet</h2>
      </div>
    )
  }
</BaseLayout>
