---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle="My Astro Learning Blog">
  <p>This is where I will post about my journey learning Astro.</p>
  {
    allPosts.map((post) => (
      <BlogPostPreview url={post.url} title={post.frontmatter.title} />
    ))
  }
</BaseLayout>
