---
const { platform, username } = Astro.props;
---

<a
  class="text-3xl rounded-full font-medium flex items-center justify-center"
  href={`https://www.${platform}.com/${username}`}
>
  <i class=`ph-light ph-${platform}-logo`></i>
  <span class="hidden">{platform}</span>
</a>
