---
import OpenMenuButton from "./OpenMenuButton.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="border-b pb-6">
  <div class="flex justify-between items-center">
    <a href="/" class="text-2xl font-medium tracking-wide leading-none">
      Astro
    </a>
    <div class="flex gap-8">
      <ThemeIcon />
      <OpenMenuButton />
    </div>
  </div>
  <Navigation />
</header>
