---

---

<button
  id="open-menu-button"
  class="flex flex-col gap-1.5 group bg-indigo-600 relative p-2 items-end justify-center rounded-full w-12 h-12"
>
  <span class="bg-slate-50 w-full h-0.5 rounded-full"></span>
  <span
    class="bg-slate-50 w-2/3 group-hover:w-full transition-all h-0.5 rounded-full"
  ></span>
</button>
