---

---

<button
  id="navigation-toggle"
  class="flex flex-col group gap-1.5 group text-slate-950 text-2xl bg-amber-500 data-[checked='true']:bg-amber-600 transition-all hover:bg-amber-600 relative p-2 items-center justify-center rounded-full h-10 w-10 lg:text-2xl lg:w-12 lg:h-12 focus:outline-none"
  data-checked="false"
>
  <i
    class="ph ph-list group-data-[checked='true']:rotate-45 transition-transform"
  ></i>
</button>
