---

---

<button
  id="open-menu-button"
  class="flex flex-col group gap-1.5 group text-black text-2xl bg-amber-500 data-[checked='true']:bg-amber-600 transition-all hover:bg-amber-600 relative p-2 items-center justify-center rounded-full w-12 h-12"
  data-checked="false"
>
  <i
    class="ph ph-list group-data-[checked='true']:rotate-45 transition-transform"
  ></i>
</button>
