---

---

<button
  id="theme-toggle"
  aria-label="Toggle dark mode"
  title="Toggle dark mode"
  class="border border-slate-950 dark:border-white text-xl flex items-center justify-center rounded-full h-10 w-10 lg:text-2xl lg:w-12 lg:h-12 focus:outline-none"
>
  <i id="theme-toggle-icon-sun" class="ph-light hidden dark:block ph-sun"></i>
  <i
    id="theme-toggle-icon-moon"
    class="ph-light light:block dark:hidden ph-moon-stars"></i>
</button>

<script is:inline>
  document.addEventListener("astro:after-swap", () => {
    // Check user's theme preference
    const theme = localStorage.getItem("theme");
    if (theme === "dark") {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  });
  document.addEventListener("astro:page-load", () => {
    // Theme toggle button
    const themeToggle = document.querySelector("#theme-toggle");
    const themeToggleIconSun = document.querySelector("#theme-toggle-icon-sun");
    const themeToggleIconMoon = document.querySelector(
      "#theme-toggle-icon-moon"
    );

    if (themeToggle && themeToggleIconSun && themeToggleIconMoon) {
      // Switch theme & icon on toggle
      themeToggle.addEventListener("click", () => {
        document.documentElement.classList.toggle("dark");
        if (document.documentElement.classList.contains("dark")) {
          localStorage.setItem("theme", "dark");
          themeToggleIconSun.classList.remove("hidden");
          themeToggleIconMoon.classList.add("hidden");
        } else {
          localStorage.setItem("theme", "light");
          themeToggleIconSun.classList.add("hidden");
          themeToggleIconMoon.classList.remove("hidden");
        }
      });
    } else {
      console.error("Theme toggle elements not found");
    }
  });
</script>
