---

---

<button
  id="theme-toggle"
  aria-label="Toggle dark mode"
  title="Toggle dark mode"
  class="border border-slate-950 dark:border-white text-xl flex items-center justify-center rounded-full h-10 w-10 lg:text-2xl lg:w-12 lg:h-12 focus:outline-none"
>
  <i id="theme-toggle-icon-sun" class="ph-light hidden dark:block ph-sun"></i>
  <i
    id="theme-toggle-icon-moon"
    class="ph-light light:block dark:hidden ph-moon-stars"></i>
</button>
