---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script is:global src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body class="bg-amber-50 text-black max-w-7xl mx-auto w-full p-6">
    <Header />

    <main>
      <div class="flex flex-col gap-6 py-6">
        <h1 class="capitalize">{pageTitle}</h1>
        <slot />
      </div>
    </main>
    <Footer />
    <script>
      import "../scripts/menu";
    </script>
  </body>
</html>
